{% ckan_extends %}

{% block secondary_content %}
  {% resource 'ckanext-datesearch/moment.js' %}
  {% resource 'ckanext-datesearch/datepicker.css' %}
  {% resource 'ckanext-datesearch/bootstrap-datepicker.js' %}
  {% resource 'ckanext-datesearch/daterangepicker-module.js' %}

  {# This <section> is the date-range picker widget in the sidebar. #}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-medium icon-calendar"></i> {{ _('Filter by date') }}
      <a href="{{ h.remove_url_param(['ext_startdate', 'ext_enddate']) }}" class="action">{{ _('Clear') }}</a>
    </h2>
    <div class="module-content input-prepend input-daterange" data-module="daterange-query" id="datepicker">
      <input type="text" class="input-small" readonly="" name="start" data-module="daterangepicker-module" />
      <span class="add-on">to</span><br>
      <input type="text" class="input-small" readonly="" name="end" data-module="daterangepicker-module" />
    </div>
  </section>

  {{ super() }}
{% endblock %}
